<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>
    <link rel="stylesheet" href="css/style.bundle.css"/>
</head>
<body>
<div class="page">
    <header class="header">
        <div class="wrap header-wrap">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo" href="index.html"><img src="img/logo.png" alt="Health club capital" class="logo__img"></a>
                <button class="navbar-toggler toggle-btn" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">lifestyle<span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="#">health</a>
                        <a class="nav-item nav-link" href="#">therapy</a>
                        <a class="nav-item nav-link" href="#">wellness</a>
                        <a class="nav-item nav-link" href="#">beauty</a>
                        <a class="nav-item nav-link" href="#">blog</a>
                        <a class="nav-item nav-link" href="category.html">category</a>
                        <a class="nav-item nav-link" href="article.html">article</a>
                    </div>
                </div>
                <div class="social">
                    <a href="#" class="social__link"><i class="fab fa-facebook-f social__link-icon"></i></a>
                    <a href="#" class="social__link"><i class="fab fa-twitter social__link-icon"></i></a>
                </div>
            </nav>
        </div>
    </header>
    <div class="container container-categories">
        <div class="wrap post-wrap">
            <div class="left-block-content left-block-categories">
                <h2 class="category-headline">Wellness</h2>
                <a href="#" class="category-box">
                    <img src="img/category-1.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">Behind the secret societies in colleges</h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so you might
                            as well make ’em good. A well-done tattoo is hella sexy, so
                            check out these pictures for some... you get inked.
                        </p>
                    </div>
                </a>
                <a href="#" class="category-box">
                    <img src="img/category-2.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">The Tonic This Neuroscientist Drinks Every Morning
                            To Prevent Alzheimer's
                        </h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so you
                            might as well make ’em good. A well-done tattoo is hella sexy, so...
                        </p>
                    </div>
                </a>
                <a href="#" class="box-for-banner"><img src="img/banner-8.jpg" alt="banner" class="banner-for-mobile adaptive-photo"></a>
                <a href="#" class="category-box">
                    <img src="img/category-3.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">The Tonic This Neuroscientist Drinks
                            Every Morning To Prevent Alzheimer's
                        </h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so you might
                            as well make ’em good. A well-done tattoo is hella sexy, so
                            check out these pictures for some... you get inked.
                        </p>
                    </div>
                </a>
               <a href="#"><img src="img/banner-1.jpg" alt="banner" class="first-article__banner banner-for-categ"></a>
                <a href="#" class="category-box">
                    <img src="img/category-4.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">Behind the secret societies in colleges</h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so
                            you might as well make ’em good. A well-done tattoo is hella sexy, so check out
                            these pictures for some... you get inked.
                        </p>
                    </div>
                </a>
                <a href="#" class="category-box">
                    <img src="img/category-5.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">The Tonic This Neuroscientist Drinks
                            Every Morning To Prevent Alzheimer's
                        </h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so you might
                            as well make ’em good. A well-done tattoo is hella sexy, so
                            check out these pictures for some... you get inked.
                        </p>
                    </div>
                </a>
                <a href="#" class="category-box">
                    <img src="img/category-6.jpg" alt="category" class="category-box__photo">
                    <div class="category-box__text">
                        <h3 class="category-box__text-headline">The Tonic This Neuroscientist Drinks
                            Every Morning To Prevent Alzheimer's
                        </h3>
                        <p class="category-box__text-author">Liz Fisher</p>
                        <p class="category-box__text-message">Tattoos are forever —unless you remove them— so you might
                            as well make ’em good. A well-done tattoo is hella sexy, so
                            check out these pictures for some... you get inked.
                        </p>
                    </div>
                </a>
            </div>
            <aside class="aside full-screen">
                <a href="#"><img src="img/banner-6.jpg" alt="banner-6" class="adaptive-photo"></a>
                <a href="#" class="aside-mini-post">
                    <img src="img/banner6.jpg" alt="banner-7" class="adaptive-photo">
                    <span class="aside-mini-post__sub-headline">Wellness Life</span>
                    <h3 class="aside-mini-post__headline">8 Incredible Pictures From The Travel Photographer</h3>
                    <p  class="aside-mini-post__text">More off this less hello salamander lied porpoise much
                        over tightly circa horse taped so innocuously outside crud mightily rigorous...
                    </p>
                </a>
                <a href="#"><img src="img/banner-7.jpg" alt="banner-7" class="adaptive-photo"></a>
                <div class="sub-post">
                    <div class="sub-post__box">
                        <img src="img/sub-post-1.jpg" alt="sub-post-1" class="sub-post__box-photo">
                        <a  href="#" class="sub-post__box-headline">This Is Why You're Not Healing, Even When You Try</a>
                        <span class="sub-post__box-date">29.12.18</span>
                        <div class="clear"></div>
                    </div>
                    <div class="sub-post__box sub-post__box-2">
                        <img src="img/sub-post-2.jpg" alt="sub-post-2" class="sub-post__box-photo">
                        <a href="#" class="sub-post__box-headline">This Is Why You're Not Healing, Even When You Try</a>
                        <span class="sub-post__box-date">29.12.18</span>
                        <div class="clear"></div>
                    </div>
                    <div class="sub-post__box d-none">
                        <img src="img/sub-post-3.jpg" alt="sub-post-3" class="sub-post__box-photo">
                        <a href="#"class="sub-post__box-headline">This Is Why You're Not Healing, Even When You Try</a>
                        <span class="sub-post__box-date">29.12.18</span>
                        <div class="clear"></div>
                    </div>
                    <div class="sub-post__box d-none">
                        <img src="img/sub-post-4.jpg" alt="sub-post-4" class="sub-post__box-photo">
                        <a href="#" class="sub-post__box-headline">This Is Why You're Not Healing, Even When You Try</a>
                        <span class="sub-post__box-date">29.12.18</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <footer class="footer">
        <div class="wrap footer-wrap">
            <h1 class="footer-logo">
                <a href="#"><img src="img/logo-footer.png" alt="Health club capital" class="adaptive-photo"></a>
            </h1>
            <p class="footer-description">Healthclubcapital is your news, entertainment, music fashion website.
                We provide you with the latest breaking news and videos straight from
                the entertainment industry.
            </p>
            <div class="footer-social social">
                <a href="#" class="social__link"><i class="fab fa-facebook-f social__link-icon"></i></a>
                <a href="#" class="social__link"><i class="fab fa-twitter social__link-icon"></i></a>
            </div>
            <nav class="footer-navigation">
                <ul class="menu-footer">
                    <li class="menu-footer__item"><a href="#" class="menu-footer__item-link">Privacy Policy</a></li>
                    <li class="menu-footer__item"><a href="#" class="menu-footer__item-link">Terms Of Service</a></li>
                    <li class="menu-footer__item"><a href="#" class="menu-footer__item-link">DMCA</a></li>
                    <li class="menu-footer__item"><a href="#" class="menu-footer__item-link">Healthclubcapital.2019</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
<script src="js/bundle.js"></script>
</body>
</html>

